<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyAdBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SpotifyAdBlocker.Properties.Settings>
            <setting name="EnableBlacklist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWhitelist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomBlock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="proxyIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="themePrimary" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="themeAccent" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="MinToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStartProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DismissWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMinToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
        </SpotifyAdBlocker.Properties.Settings>
    </userSettings>
</configuration>
